<section class="section section--contacts">
  <div class="container">
    <h2 class="contacts__title visually-hidden" id="contacts">Contacts</h2>
    <ul class="contacts-cards list">
      <li class="contacts-cards__item">
        <p class="contacts-cards__type">Cafe</p>
        <p class="contacts-cards__city">Chicago</p>
        <p class="contacts-cards__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <ul class="contacts-timetable list">
          <li class="contacts-timetable__item">
            <p class="contacts-timetable__day">Monday - Friday</p>
            <p class="contacts-timetable__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-timetable__item">
            <p class="contacts-timetable__day">Saturday - Sunday</p>
            <p class="contacts-timetable__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

            <a href="tel:+610383766284" class="contacts-cards__tel link">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com" class="contacts-cards__mail link">noreply@envato.com</a>
      </li>

      <li class="contacts-cards__item">
        <p class="contacts-cards__type contacts-cards__type--green">Food truck</p>
        <p class="contacts-cards__city">Los Angeles</p>
        <p class="contacts-cards__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <ul class="contacts-timetable list">
          <li class="contacts-timetable__item">
            <p class="contacts-timetable__day">Monday - Friday</p>
            <p class="contacts-timetable__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-timetable__item">
            <p class="contacts-timetable__day">Saturday - Sunday</p>
            <p class="contacts-timetable__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <a href="tel:+610383766284" class="contacts-cards__tel link">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com" class="contacts-cards__mail link">noreply@envato.com</a>
      </li>

      <li class="contacts-cards__item">
        <p class="contacts-cards__type">Cafe</p>
        <p class="contacts-cards__city">New York</p>
        <p class="contacts-cards__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <ul class="contacts-timetable list">
          <li class="contacts-timetable__item">
            <p class="contacts-timetable__day">Monday - Friday</p>
            <p class="contacts-timetable__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-timetable__item">
            <p class="contacts-timetable__day">Saturday - Sunday</p>
            <p class="contacts-timetable__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        
        <a href="tel:+610383766284" class="contacts-cards__tel link">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com" class="contacts-cards__mail link">noreply@envato.com</a>
        </ul>
      </li>
    </ul>

    <ul class="contacts-btn-list">
      <li class="contacts-btn-list__item">
        <button type="button" class="contacts-btn">
          Our locations
          <svg class="contacts-btn-list__icon" width="5" height="8">
            <use href="./images/icons.svg#icon-arrow-pointer-right"></use>
          </svg>
        </button>
      </li>
    
      <li class="contacts-btn-list__item">
        <button type="button" class="contacts-btn contacts-btn--inverse">
          Franchise
          <svg class="contacts-btn-list__icon" width="5" height="8">
            <use href="./images/icons.svg#icon-arrow-pointer-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>

  <div id="myModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">×</span>
      </div>
      <iframe
        class="modal-body"
        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d12926323.974759825!2d-99.2119859!3d37.7234142!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sua!4v1642613019855!5m2!1sen!2sua"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
  </div>
</section>
