<section class="section section--reviews">
    <div class="container">
        <h2 class="visually-hidden">Customer Reviews</h2>
        <ul class="reviews__set">
            <li class="reviews__item">
                <img class="reviews__photo" srcset="./images/customReviews/reviews1.png 1x, ./images/customReviews/reviews1-2x.png 2x" 
                src="./images/customReviews/reviews1.png" alt="Customer's photo" />
                <div class="reviews__content">
                    <p class="reviews__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                        quam nunc,
                        accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
                <p class="reviews__name">
                    Emily, Los Angeles
                </p>
            </li>
            <li class="reviews__item">
                <img class="reviews__photo"
                    srcset="./images/customReviews/reviews2.png 1x, ./images/customReviews/reviews2-2x.png 2x"
                    src="./images/customReviews/reviews2.png" alt="Customer's photo" />
                <div class="reviews__content">
                    <p class="reviews__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                        quam nunc,
                        accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
                <p class="reviews__name">
                    Julia, San Francisco
                </p>
            </li>
            <li class="reviews__item">
                <img class="reviews__photo"
                    srcset="./images/customReviews/reviews3.png 1x, ./images/customReviews/reviews3-2x.png 2x"
                    src="./images/customReviews/reviews3.png" alt="Customer's photo" />
                <div class="reviews__content">
                    <p class="reviews__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                        quam nunc,
                        accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
                <p class="reviews__name">
                    Jane, New York
                </p>
            </li>
        </ul>
    </div>
</section>