<section class="section section--gallery" >
  <div class="container">
        <h2 class="gallery__title visually-hidden">Gallery</h2>
        <picture >
            <source class="gallery__image" srcset="
                      ./images/gallery/gallery-desktop.png 1x, 
                      ./images/gallery/gallery-desktop@x2.png 2x" media="(min-width:1280px)" />
            <img class="gallery__image"
            src="./images/gallery/gallery-desktop.png"
            alt="many differents pictures"   
              >
        </picture>
<div class="container">
</section>