    <div class="header__container container">

            <a href="" class="header__logo link">
                <svg class="header__logo header__logo-icon" width="50" height="50">
                    <use href="./images/icons.svg#logo-icon"></use>
                </svg>
                <span class="header__logo-text">ICECREAM</span>
            </a>

        <nav class="header__nav">
            <ul class="nav__list list">
                <li class="nav__item"> <a href="#header" class="nav__link link current">Home</a></li>
                <li class="nav__item"> <a href="#about" class="nav__link link">About us</a></li>
                <li class="nav__item"> <a href="#advantages" class="nav__link link">How it’s made?</a></li>
                <li class="nav__item"> <a href="#products" class="nav__link link">Our products</a></li>
                <li class="nav__item"> <a href="#contacts" class="nav__link link">Contact</a></li>
            </ul>
        </nav>

        <button class="menu-button menu-button--open js-open-menu " aria-expanded="false" aria-controls="mobile-menu">
            <svg class="menu-button__icon" width="20" height="12">
                <use href="./images/icons.svg#icon-mob-menu"></use>
            </svg>
        </button>

        <button type="button" class="buy-btn buy-btn--unvisible button">
            Buy now
            <svg class="buy-btn__icon" width="6" height="10">
                <use href="./images/icons.svg#icon-arrow-pointer-right"></use>
            </svg>
        </button>
    </div>