<section class="section section--hero">
  <div class="container conteiner--hero">
    <div class="hero-title-wrapp">
    <h1 class="hero__title">ice cream made with <span class="hero__title--word-passion">passion</span></h1>
    <ul class="hero-links list">
      <li class="hero-links__item hero-links__item--product">
        <a href="#products" class="hero-links__link hero-links__link--product link">Products</a>
      </li>
      <li class="hero-links__item hero-links__item">
        <a href="#advantages" class="hero-links__link hero-links__link--made link">How it’s made?</a>
      </li>
    </ul>
    </div>

    <picture>
      <source
        srcset="
          ./images/header/header-milk-desktop.png    1x,
          ./images/header/header-milk-desktop@x2.png 2x
        "
        media="(min-width:1280px)"
      />

      <source
        srcset="
          ./images/header/header-milk-tablet.png    1x,
          ./images/header/header-milk-tablet@x2.png 2x
        "
        media="(min-width:768px)"
      />
      <img class="milk-bucket" src="./images/header/header-milk-desktop.png" alt="milk-bucket" />
    </picture>

    <div class="milk-description">
      <p class="milk-description__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button class="milk-description__btn">
        <svg class="arrow-right">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>

    <picture>
      <source
        srcset="
          ./images/header/hero-ellipse-pink-desk.png    1x,
          ./images/header/hero-ellipse-pink-desk@x2.png 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/header/hero-ellipse-pink-tablet.png    1x,
          ./images/header/hero-ellipse-pink-tablet@x2.png 2x
        "
        media="(min-width:768px)"
      />
      <img class="hero-elips" src="./images/header/hero-ellipse-pink-desk.png" alt="pink circle" />
    </picture>

    <picture>
      <source
        srcset="
          ./images/header/header-ice-desktop.png    1x,
          ./images/header/header-ice-desktop@x2.png 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/header/header-ice-tablet.png    1x,
          ./images/header/header-ice-tablet@x2.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/header/header-ice-mobile.png    1x,
          ./images/header/header-ice-mobile@x2.png 2x
        "
        media="(min-width:320px)"
      />
      <img class="hero-icecream" src="./images/header/header-ice-desktop.png" alt="iceream" />
    </picture>

    <picture>
      <source
        srcset="
          ./images/header/header-girl-desktop.png    1x,
          ./images/header/header-girl-desktop@x2.png 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/header/header-girl-tablet.png    1x,
          ./images/header/header-girl-tablet@x2.png 2x
        "
        media="(min-width:768px)"
      />
      <img
        class="hero-girl"
        src="./images/header/header-girl-desktop.png"
        alt="girl with iceream"
      />
    </picture>

    <ul class="hero__points-info points-info">
      <li class="points-info__item cafes">
        <p class="points-info__numbers">16</p>
        <p class="points-info__description">cafes</p>
        <picture>
          <source
            srcset="
              ./images/header/hero-ellipse-points-desk.png    1x,
              ./images/header/hero-ellipse-points-desk@x2.png 2x
            "
            media="(min-width:1280px)"
          />

          <source
            srcset="
              ./images/header/hero-ellipse-points-tablet.png    1x,
              ./images/header/hero-ellipse-points-tablet@x2.png 2x
            "
            media="(min-width:768px)"
          />
          <img
            class="points-info__ellipse"
            src="./images/header/hero-ellipse-points-desk.png"
            alt="white ellipse"
          />
        </picture>
      </li>
      <li class="points-info__item trucks">
        <p class="points-info__numbers">23</p>
        <p class="points-info__description">food trucks</p>

        <picture>
          <source
            srcset="
              ./images/header/hero-ellipse-points-desk.png    1x,
              ./images/header/hero-ellipse-points-desk@x2.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/header/hero-ellipse-points-tablet.png    1x,
              ./images/header/hero-ellipse-points-tablet@x2.png 2x
            "
            media="(min-width:768px)"
          />
          <img
            class="points-info__ellipse"
            src="./images/header/hero-ellipse-points-desk.png"
            alt="white ellipse"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
