<section class="section section--products" id="products">
    <div class="container">
        <p class="products__pre-title">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products-set list">
            <li class="products-set__item products-set__item--pink" data-product1>
                <h3 class="products-set__title">ice cream</h3>
                <svg class="products-set__icon" width="26px" height="6px">
                    <use href="./images/icons.svg#icon-three-points"></use>
                </svg>
                <p class="products-set__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et. dolore magna aliqua facilisis. 
                    <span class="product-set__text--unvisible">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, sit.dolore magna aliqua facilisis ipsum dolor sit amet consectetur
                    </span>
                </p>
                <button type="button" class="products-set__btn " data-open-card1>
                    <svg class="products-set__btn-icon" width="10px" height="10px">
                        <use href="./images/icons.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </li>
            <li class="products-set__item products-set__item--yellow" data-product2>
                <h3 class="products-set__title">ice coffee</h3>
                <svg class="products-set__icon" width="26px" height="6px">
                    <use href="./images/icons.svg#icon-three-points"></use>
                </svg>
                <p class="products-set__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et. dolore magna aliqua facilisis.
                    <span class="product-set__text--unvisible">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, sit.dolore magna aliqua facilisis ipsum
                        dolor sit amet consectetur
                    </span>
                </p>
                <button type="button" class="products-set__btn" data-open-card2>
                    <svg class="products-set__btn-icon" width="10px" height="10px">
                        <use href="./images/icons.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </li>
            <li class="products-set__item products-set__item--green" data-product3>
                <h3 class="products-set__title">milkshakes</h3>
                <svg class="products-set__icon" width="26px" height="6px">
                    <use href="./images/icons.svg#icon-three-points"></use>
                </svg>
                <p class="products-set__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et. dolore magna aliqua facilisis.
                    <span class="product-set__text--unvisible">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, sit.dolore magna aliqua facilisis ipsum
                        dolor sit amet consectetur
                    </span>
                </p>
                <button type="button" class="products-set__btn" data-open-card3>
                    <svg class="products-set__btn-icon" width="10px" height="10px">
                        <use href="./images/icons.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>