<div class="popup__products--ice-cream is-hidden " data-modal>
    <div class="popup-products__body">
        <div class="popup-products__content">
            <div class="popup-products__card">
                <picture>
                    <source srcset="
                    ./images/products/pr-ice-cream-desktop.png 1x,
                    ./images/products/pr-ice-cream-desktop@x2.png 2x" media="(min-width:1280px)" />
                    <source srcset="
                    ./images/products/pr-ice-cream-mobile.png 1x,
                    ./images/products/pr-ice-cream-mobile@x2.png 2x" media="(min-width:768px)" />
                    <source srcset="
                    ./images/products/pr-ice-cream-mobile.png 1x,
                    ./images/products/pr-ice-cream-mobile@x2.png 2x" media="(max-width:767px)" />
                    <img src="./images/products/pr-ice-cream-mobile.png" class="ice-cream__img" alt="ice-cream ">
                </picture>
                <h3 class="cards-ice__tittle">ice cream</h3>
                <svg class="cards-ice__icon" width="26px" height="6px">
                    <use href="./images/icons.svg#icon-Group-4"></use>
                </svg>
                <p class="cards-ice__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et. dolore magna aliqua facilisis.Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua
                    facilisis. </p>
                <button type="button" class="popup-products__btn-close--pink " data-modal-close>
                    <svg class="popup-products__icon-close" width="10px" height="10px">
                        <use href="./images/icons.svg#icon-close"></use>
                    </svg>
                </button>

            </div>
        </div>
    </div>
</div>
<div class="popup__products--ice-coffee is-hidden" data-modal2>
    <div class="popup-products__body">
        <div class="popup-products__content--yellow">
            <div class="popup-products__card">
                <picture>
                    <source srcset="
                    ./images/products/pr-ice-coffee-desktop.png 1x,
                    ./images/products/pr-ice-coffee-desktop@x2.png 2x" media="(min-width:1280px)" />
                    <source srcset="
                    ./images/products/pr-ice-coffee-mobile.png 1x,
                    ./images/products/pr-ice-coffee-mobile@x2.png 2x" media="(min-width:768px)" />
                    <source srcset="
                    ./images/products/pr-ice-coffee-mobile.png 1x,
                    ./images/products/pr-ice-coffee-mobile@x2.png 2x" media="(max-width:767px)" />
                    <img src="./images/products/pr-ice-coffee-mobile.png" class="ice-cream__img" alt="ice-coffee ">
                </picture>
                <h3 class="cards-ice__tittle">ice coffee</h3>
                <svg class="cards-ice__icon" width="26px" height="6px">
                    <use href="./images/icons.svg#icon-Group-4"></use>
                </svg>
                <p class="cards-ice__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et. dolore magna aliqua facilisis.Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua
                    facilisis. </p>
                <button type="button" class="popup-products__btn-close--yellow" data-modal-close2>
                    <svg class="popup-products__icon-close" width="10px" height="10px">
                        <use href="./images/icons.svg#icon-close"></use>
                    </svg>
                </button>

            </div>
        </div>
    </div>
</div>
<div class="popup__products--milk-shakes is-hidden" data-modal3>
    <div class="popup-products__body">
        <div class="popup-products__content--green">
            <div class="popup-products__card">
                <picture>
                    <source srcset="
                    ./images/products/pr-milk-shakes-desktop.png 1x,
                    ./images/products/pr-milk-shakes-desktop@x2.png 2x" media="(min-width:1280px)" />
                    <source srcset="
                    ./images/products/pr-milk-shakes-mobile.png 1x,
                    ./images/products/pr-milk-shakes-mobile@x2.png 2x" media="(min-width:768px)" />
                    <source srcset="
                    ./images/products/pr-milk-shakes-mobile.png 1x,
                    ./images/products/pr-milk-shakes-mobile@x2.png 2x" media="(max-width:767px)" />
                    <img src="./images/products/pr-milk-shakes-mobile.png" class="ice-cream__img" alt="milk-shakes ">
                </picture>
                <h3 class="cards-ice__tittle">ice cream</h3>
                <svg class="cards-ice__icon" width="26px" height="6px">
                    <use href="./images/icons.svg#icon-Group-4"></use>
                </svg>
                <p class="cards-ice__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et. dolore magna aliqua facilisis.Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua
                    facilisis. </p>
                <button type="button" class="popup-products__btn-close--green" data-modal-close3>
                    <svg class="popup-products__icon-close" width="10px" height="10px">
                        <use href="./images/icons.svg#icon-close"></use>
                    </svg>
                </button>

            </div>
        </div>
    </div>
</div>