.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;

  z-index: 5;

  background-color: rgba(0, 0, 0, 0.5);

  transition: visibility $pr-transition, opacity $pr-transition;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.about-modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px 15px 150px 15px;

  width: 90%;
  height: auto;
  overflow: hidden;

  border-radius: 24px;
  background-color: $bg-modal-about;

  transform: translate(-50%, -50%) scale(1);
  transition: transform $pr-transition, background-color $pr-transition;

  @media screen and (min-width: $mobile) and (max-width: 767px) {
    width: 430px;
    height: 500px;
  }
  @media screen and (min-width: $tablet) {
    padding: 40px 30px 240px 30px;
    width: 630px;
    height: 620px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 235px;
    width: 650px;
    height: 710px;
  }

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.9);
    transition: transform $pr-transition;
  }
}

.about-modal__btn-close {
  background-color: $color-design-white;
  position: absolute;
  right: 15px;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0px;
  transition: background-color $pr-transition;
  &:hover,
  &:focus {
    background-color: $bg-btn-light-hover;
  }
}

.about-modal__btn-close-icon {
  width: 15px;
  height: 15px;
  fill: $bg-btn-dark;

  transition: fill $pr-transition;
}

.about-modal__pic-cow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 125px;

  transform: translateX(0%);

  transition: transform 1300ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $tablet) {
    width: 195px;
  }

  .backdrop.is-hidden & {
    transform: translateX(-101%);
  }
}

.about-modal__pic-moo {
  position: absolute;

  bottom: 80px;
  left: 120px;
  width: 95px;

  opacity: 1;

  transform: scale(1.1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 1150ms;

  @media screen and (min-width: $mobile) {
    bottom: 60px;
    left: 120px;
    width: 125px;
  }

  @media screen and (min-width: $tablet) {
    bottom: 100px;
    left: 185px;
    width: 195px;
  }

  @media screen and (min-width: $desktop) {
    width: 195px;
  }
}

.backdrop.is-hidden .about-modal__pic-moo {
  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0.1);
}

.about-modal__pic-milk {
  position: absolute;
  bottom: 20px;
  right: 10px;
  width: 85px;

  @media screen and (min-width: $mobile) {
    width: 115px;
  }

  @media screen and (min-width: $tablet) {
    width: 180px;
  }

  @media screen and (min-width: $desktop) {
    width: 215px;
  }
}

.about-modal__title {
  margin-bottom: 26px;
  text-align: center;

  font-family: $text-secondary;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $color-design-main;

  @media screen and (min-width: $tablet) {
    font-size: 48px;
    line-height: 55px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 40px;
    font-size: 50px;
    line-height: 66px;
    letter-spacing: 0.06em;
  }
}

.about-modal__text-main {
  margin-bottom: 28px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

  color: $color-design-black;

  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.76;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 35px;
    font-size: 16px;
    letter-spacing: 0.04em;
  }
}

.about-modal__text-secondary {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

  color: $color-description;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: $desktop) {
    line-height: 1.94;
  }
}
