.advantages-list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: $desktop) {
  }
}

.advantages-list__item {
  width: 230px;
  height: 156px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &:not(:last-child) {
    margin-bottom: 38px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 0px;
    }
  }
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    @media screen and (min-width: $tablet) {
      top: -12%;
    }
  }

  @media screen and (min-width: $tablet) {
    width: 180px;
    height: 196px;

    flex-basis: calc(100% / 3 - 60px);
    margin-left: 60px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: $desktop) {
    width: 330px;
    height: 196px;

    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

.advantages__item--one {
  &::before {
    content: '';
    width: 33px;
    height: 50px;
    background-size: contain;
    background: url('../images/advantages/advantages-bucket.png') no-repeat center;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: url('../images/advantages/advantages-bucket@x2.png') no-repeat center;
      background-size: contain;
    }
  }
}

.advantages__item--two {
  &::before {
    content: '';
    width: 50px;
    height: 50px;
    background-size: contain;
    background: url('../images/advantages/advantages-apple.png') no-repeat center;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: url('../images/advantages/advantages-apple@x2.png') no-repeat center;
      background-size: contain;
    }
  }
}

.advantages__item--three {
  &::before {
    content: '';
    width: 44px;
    height: 50px;
    background-size: contain;
    background: url('../images/advantages/advantages-heart.png') no-repeat center;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: url('../images/advantages/advantages-heart@x2.png') no-repeat center;
      background-size: contain;
    }
  }
}
.advantages-list__title {
  font-family: $text-secondary;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $color-design-main;
  @media screen and (min-width: $tablet) {
    padding-bottom: 15px;
    font-size: 48px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 58px;
  }
}
.advantages-list__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;

  color: $color-design-black;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.7;
  }
  @media screen and (min-width: $desktop) {
    height: 52px;
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}
