.advantages-list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: $desktop) {
  }
}

.advantages-list__item {
  position: relative;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 100px;
    }
  }
  @media screen and (min-width: $tablet) {
    width: (100% / 3);
  }

  &::before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: -60px;
    @media screen and (min-width: $tablet) {
      top: -70px;
    }

    @media screen and (min-width: $desktop) {
      top: -80px;
    }
  }
}

.advantages-list__item--one {
  &::before {
    content: '';
    width: 33px;
    height: 50px;
    background-size: contain;
    background: url('../images/advantages/advantages-bucket.png') no-repeat center;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: url('../images/advantages/advantages-bucket@x2.png') no-repeat center;
    }
  }
}

.advantages-list__item--two {
  &::before {
    content: '';
    width: 50px;
    height: 50px;
    background-size: contain;
    background: url('../images/advantages/advantages-apple.png') no-repeat center;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: url('../images/advantages/advantages-apple@x2.png') no-repeat center;
    }
  }
}

.advantages-list__item--three {
  &::before {
    content: '';
    width: 44px;
    height: 50px;
    background-size: contain;
    background: url('../images/advantages/advantages-heart.png') no-repeat center;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: url('../images/advantages/advantages-heart@x2.png') no-repeat center;
    }
  }
}
.advantages-list__title {
  margin-bottom: 14px;
  font-family: $text-secondary;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $color-design-main;
  @media screen and (min-width: $tablet) {
    font-size: 48px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 58px;
  }
}
.advantages-list__text {
  max-width: 230px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;

  color: $color-design-black;

  @media screen and (min-width: $tablet) {
    max-width: 180px;
    font-size: 14px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 300px;
    height: 52px;
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}
