.footer {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid $color-line-in-contacts;
  background-color: $bg-section;

  @media screen and (min-width: $tablet) {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.footer__copyright-text {
  margin: 0 auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  letter-spacing: 0.02em;
  color: $color-description;

  @media screen and (max-width: 767px) {
    width: 150px;
  }
}
