header {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;

  @media screen and (min-width: $tablet) {
    padding-top: 37px;
    padding-bottom: 37px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  @media screen and (min-width: $tablet) {
  }
  @media screen and (min-width: $desktop) {
  }
}

.header__logo {
  display: inline-flex;
  align-items: center;
  color: #fff;

  transition: color $pr-transition;

  @media screen and (min-width: $desktop) {
    margin-left: -33px;
    margin-right: 110px;
  }

  &-icon {
    fill: currentColor;
    margin-right: 17px;
    border-radius: 50%;
    background-color: $color-design-main;
    transition: background-color $pr-transition, fill $pr-transition;
    .header__logo:focus &,
    .header__logo:hover & {
      background-color: #fff;
      fill: $color-design-main;
    }
  }

  &-text {
    font-family: $text-secondary;
    font-size: 24px;
    line-height: 1.12;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    transition: color $pr-transition;

    color: $color-design-main;

    .header__logo:focus &,
    .header__logo:hover & {
      color: #fff;
    }
  }

  &:focus,
  &:hover {
    color: $color-design-main;
  }
}

.nav__list {
  display: flex;
  @media screen and (max-width: 1279px) {
    display: none;
  }
}

.nav__item {
  margin-right: 35px;
  &:last-child {
    margin-right: 0;
  }
  &:first-child .nav__link {
    color: $color-design-main;
  }
}
.nav__link {
  padding: 10px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: $color-design-white;
  transition: color $pr-transition;
  &:hover,
  &:focus {
    color: $color-design-main;
  }
}

.menu-button {
  display: inline-flex;

  align-items: center;
  justify-content: center;
  margin-left: auto;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: transparent;
  border: transparent;

  transition: background-color $pr-transition;

  &:focus,
  &:hover {
    background-color: $bg-btn-light-hover;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 20px;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.menu-button__icon {
  fill: $bg-btn-dark;
  transition: fill $pr-transition;

  .menu-button:focus &,
  .menu-button:hover & {
    fill: $bg-btn-dark;
  }
}

.buy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  min-width: 160px;
  height: 44px;
  padding: 0 5px;

  font-family: $text-main;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;

  color: $bg-btn-dark;
  background-color: $bg-btn-light;
  border: transparent;

  transition: background-color $pr-transition;

  &:hover,
  &:focus {
    background-color: $bg-btn-light-hover;
    color: $bg-btn-dark-hover;
  }

  @media screen and (min-width: $desktop) {
    margin-left: auto;
  }

  &--unvisible {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.buy-btn__icon {
  margin-left: 12px;
  fill: currentColor;
  .buy-btn:hover &,
  .buy-btn:focus & {
    fill: $bg-btn-dark-hover;
  }
}
