.conteiner--hero {
  position: relative;
  padding-top: 193px;
  min-height: 502px;

  @media screen and (min-width: $tablet) {
    min-height: 400px;
    padding-top: 102px;
  }
  @media screen and (min-width: $desktop) {
    min-height: 665px;
    padding-top: 171px;
  }
}

.hero-title-wrapp {
  position: relative;
  z-index: 3;
  @media screen and (min-width: $tablet) {
    margin-bottom: 66px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 112px;
  }
}
.hero__title {
  font-family: Titan One;
  width: 218px;
  margin-bottom: 19px;

  color: $color-design-white;
  font-size: 26px;
  line-height: 1.15;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  @media screen and (min-width: $tablet) {
    width: 162px;
    height: 80px;
    font-size: 22px;
    line-height: 1.14;
  }
  @media screen and (min-width: $desktop) {
    width: 277px;
    height: 137px;
    margin-bottom: 25px;
    font-size: 38px;
    line-height: 1.16;
  }

  &--word-passion {
    color: $color-design-main;
    font-size: 48px;
    line-height: 96.5%;
    @media screen and (min-width: $tablet) {
      font-size: 34px;
      line-height: 0.9;
    }
    @media screen and (min-width: $desktop) {
      font-size: 58px;
      line-height: 0.9;
    }
  }
}

.hero-links {
  display: flex;
  z-index: 2;
  top: 318px;
  left: 20px;
  @media screen and (min-width: $tablet) {
    top: 202px;
    left: 34px;
  }
  @media screen and (min-width: $desktop) {
    top: 333px;
    left: 115px;
  }
}

.hero-links__item {
  &:not(:last-child) {
    margin-right: 9px;
    @media screen and (min-width: $tablet) {
      margin-right: 8px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 15px;
    }
  }
}

.hero-links__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  padding: 0 8px;
  border-radius: 20px;
  transition: background-color $pr-transition;

  font-size: 8px;
  line-height: 1.25;

  @media screen and (min-width: $desktop) {
    height: 40px;
    font-size: 14px;
    line-height: 1.29;
  }

  &--product {
    min-width: 62px;
    color: $color-design-white;
    background-color: $color-design-main;

    &:hover,
    &:focus {
      background-color: $bg-btn-dark-hover;
    }

    @media screen and (min-width: $desktop) {
      min-width: 104px;
    }
  }

  &--made {
    min-width: 83px;
    color: $color-design-main;
    background-color: $color-design-white;

    &:hover,
    &:focus {
      background-color: $bg-btn-light-hover;
    }

    @media screen and (min-width: $desktop) {
      min-width: 138px;
    }
  }
}

.milk-bucket {
  position: absolute;
  animation-duration: 2s;
  animation-name: bounce_right;
  animation-timing-function: ease;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    top: 245px;
    left: 20px;
    width: 124px;
    height: 126px;
  }
  @media screen and (min-width: $desktop) {
    top: 430px;
    left: -25px;
    width: 188px;
    height: 191px;
  }
}

.milk-description {
  text-align: left;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    top: 292px;
    left: 154px;
    margin-left: 120px;
  }
  @media screen and (min-width: $desktop) {
    top: 485px;
    left: 295px;
    margin-left: 180px;
  }
}
.milk-description__text {
  color: $color-design-white;
  @media screen and (min-width: $tablet) {
    width: 120px;
    font-size: 8px;
    line-height: 150%;
    margin-bottom: 8px;
  }
  @media screen and (min-width: $desktop) {
    width: 200px;
    height: 78px;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 20px;
  }
}

.milk-description__btn {
  border: 0;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill $pr-transition, background-color $pr-transition;
  background-color: $bg-btn-light;
  &:hover,
  &:focus {
    background-color: $bg-btn-light-hover;
  }
  @media screen and (min-width: $tablet) {
    width: 18px;
    height: 18px;
  }
  @media screen and (min-width: $desktop) {
    width: 26px;
    height: 26px;
  }
}

.arrow-right {
  fill: $color-design-main;
  width: 6px;
  height: 6px;

  @media screen and (min-width: $desktop) {
    width: 8px;
    height: 8px;
  }

  .milk-description__btn:hover &,
  .milk-description__btn:focus & {
    fill: $color-design-main;
  }
}

.hero-elips {
  position: absolute;
  top: 60px;
  left: 35px;
  width: 346px;
  height: 344px;
  animation-duration: 2s;
  animation-name: size;
  animation-timing-function: ease;
  @media screen and (max-width: 479px) {
  }
  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 31px;
    left: 290px;
    width: 324px;
    height: 322px;
  }
  @media screen and (min-width: $desktop) {
    position: absolute;
    top: 50px;
    left: 375px;
    width: 538px;
    height: 538px;
  }
}

.hero-icecream {
  position: absolute;
  width: 171px;
  height: 410px;
  bottom: 0;
  left: 117px;
  animation-duration: 2s;
  animation-name: bounce_top;
  animation-timing-function: ease;

  @media screen and (min-width: $tablet) {
    width: 143px;
    height: 336px;
    left: 370px;
    top: 63px;
  }
  @media screen and (min-width: $desktop) {
    top: 108px;
    left: 505px;
    width: 236px;
    height: 557px;
  }
}

.hero-girl {
  animation-duration: 2s;
  animation-name: bounce_left;
  animation-timing-function: ease;
  @media screen and (max-width: 767px) {
    display: none;
  }
  position: absolute;
  @media screen and (min-width: $tablet) {
    width: 168px;
    height: 133px;
    bottom: 0;
    left: 566px;
  }
  @media screen and (min-width: $desktop) {
    width: 293px;
    height: 232px;
    bottom: 0;
    left: 780px;
  }
}

.points-info {
  @media screen and (max-width: 767px) {
    display: none;
  }
  position: absolute;
  z-index: 1;
  @media screen and (min-width: $tablet) {
    top: 95px;
    right: 10px;
  }
  @media screen and (min-width: $desktop) {
    top: 156px;
    right: 0px;
  }
  .points-info__item {
    position: relative;
    margin-bottom: 15px;
    @media screen and (min-width: $tablet) {
      width: 51px;
    }
    @media screen and (min-width: $desktop) {
      width: 92px;
    }
  }
  .points-info__numbers {
    font-family: Titan One;
    color: $color-design-main;
    text-align: center;
    letter-spacing: 0.04em;
    @media screen and (min-width: $tablet) {
      font-size: 28px;
      line-height: 32px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 46px;
      line-height: 53px;
      margin-bottom: 2px;
    }
  }

  .points-info__description {
    color: $color-design-white;

    @media screen and (min-width: $tablet) {
      font-size: 8px;
      line-height: 10px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 14px;
      line-height: 18px;
    }
  }
  .points-info__ellipse {
    position: absolute;
    animation-duration: 2s;
    animation-name: size;
    animation-timing-function: ease;
    top: 0;
    right: 0;
    z-index: -1;
    @media screen and (min-width: $tablet) {
      width: 16px;
      height: 16px;
    }
    @media screen and (min-width: $desktop) {
      width: 30px;
      height: 30px;
    }
  }
  .cafes {
    .points-info__description {
      text-align: center;
    }
  }
  .trucks {
    .points-info__description {
      @media screen and (min-width: $tablet) {
        text-align: center;
      }
      @media screen and (min-width: $desktop) {
        text-align: left;
      }
    }
  }
}

@keyframes bounce_top {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce_left {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce_right {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes size {
  0% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
