.mob-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;

  display: flex;
  flex-direction: column;

  padding-top: 60px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: $bg-mobile-menu;
  z-index: 999;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear, visibility 250ms linear;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
}

.mob-menu__btn {
  position: absolute;
  top: 15px;
  right: 15px;

  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 5px;
  margin-left: auto;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: transparent;
  border: transparent;

  transition: background-color $pr-transition;

  &:focus,
  &:hover {
    background-color: $br-mobile-color;
  }
}

.mob-menu__icon-close {
  fill: $bg-btn-light-hover;
  transition: fill $pr-transition;

  .mob-menu__btn:focus &,
  .mob-menu__btn:hover & {
    fill: $bg-btn-dark;
  }
}

.mob-menu__buy-btn {
  margin-bottom: 19px;
}

.mob-nav__item {
  border-bottom: 1px solid $br-mobile-color;
  border-top: 1px solid $br-mobile-color;
  &:nth-child(2n) {
    border-bottom: none;
    border-top: none;
  }
}

.mob-nav__link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: auto;

  font-family: $text-main;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  align-items: center;

  color: $bg-btn-light;

  transition: color $pr-transition background-color $pr-transition;

  &:hover,
  &:focus {
    color: $color-design-main;
    background-color: $br-mobile-color;
    text-align: center;
  }

  &.active {
    color: $color-design-main;
    text-align: center;
    background-color: $br-mobile-color;
  }
}
