.products__pre-title {
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: $color-subtitle;
  margin-bottom: 15px;
  @media screen and (min-width: $tablet) {
    font-size: 26px;
    line-height: 1.14;
  }
  @media screen and (min-width: $desktop) {
    font-size: 30px;
    letter-spacing: 0.04em;
  }
}
.products__title {
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $bg-btn-dark;
  margin-bottom: 144px;
  @media screen and (min-width: $tablet) {
    font-size: 48px;
    margin-bottom: 150px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 58px;
    line-height: 1.13;
    margin-bottom: 259px;
  }
}
.products-set {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: $tablet) {
    margin: -10px;
  }
  @media screen and (min-width: $desktop) {
    margin: -12px;
  }
}
.products-set__item {
  height: 485px;
  border-radius: 24px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-top: 160px;

  text-align: center;
  position: relative;

  transition: height $pr-transition;

  @media screen and (max-width: 767px) {
    width: 280px;
    &:not(:last-child) {
      margin-bottom: 130px;
    }
  }

  @media screen and (min-width: $tablet) {
    margin: 10px;
    flex-basis: calc((100% - 20px * 3) / 3);
    padding-left: 25px;
    padding-right: 25px;
  }
  @media screen and (min-width: $desktop) {
    height: 525px;
    margin: 13px;
    flex-basis: calc((100% - 26px * 3) / 3);
    padding-left: 49px;
    padding-right: 49px;
  }

  &::before {
    position: absolute;
    top: -113px;
    left: 50%;
    transform: translate(-50%);
    width: 249px;
    height: 252px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (min-width: $tablet) {
      top: -105px;
      width: 220px;
      height: 226px;
    }
    @media screen and (min-width: $desktop) {
      top: -212px;
      width: 335px;
      height: 335px;
    }
  }
  &.is-open {
    height: 600px;
  }
}
////////////////Pictures of Products///////////////////////////////
.products-set__item {
  &--pink {
    background: $bg-header-hero;
    &::before {
      content: '';
      background: url('../images/products/pr-ice-cream-mobile.png');
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background: url('../images/products/pr-ice-cream-mobile@x2.png');
      }
      @media screen and (min-width: $tablet) {
        content: '';
        background: url('../images/products/pr-ice-cream-tablet.png');
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background: url('../images/products/pr-ice-cream-tablet@x2.png');
        }
      }

      @media screen and (min-width: $desktop) {
        content: '';
        background: url('../images/products/pr-ice-cream-desktop.png');
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background: url('../images/products/pr-ice-cream-desktop@x2.png');
        }
      }
    }
  }

  &--green {
    background-color: $bg-green-color;
    &::before {
      content: '';
      background: url('../images/products/pr-milk-shakes-mobile.png');
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background: url('../images/products/pr-milk-shakes-mobile@x2.png');
      }
      @media screen and (min-width: $tablet) {
        content: '';
        background: url('../images/products/pr-milk-shakes-tablet.png');
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background: url('../images/products/pr-milk-shakes-tablet@x2.png');
        }
      }

      @media screen and (min-width: $desktop) {
        content: '';
        background: url('../images/products/pr-milk-shakes-desktop.png');
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background: url('../images/products/pr-milk-shakes-desktop@x2.png');
        }
      }
    }
  }

  &--yellow {
    background-color: $bg-beige-color;
    &::before {
      content: '';
      background: url('../images/products/pr-ice-coffee-mobile.png');
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background: url('../images/products/pr-ice-coffee-mobile@x2.png');
      }
      @media screen and (min-width: $tablet) {
        content: '';
        background: url('../images/products/pr-ice-coffee-tablet.png');
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background: url('../images/products/pr-ice-coffee-tablet@x2.png');
        }
      }

      @media screen and (min-width: $desktop) {
        content: '';
        background: url('../images/products/pr-ice-coffee-desktop.png') no-repeat center;
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background: url('../images/products/pr-ice-coffee-desktop@x2.png') no-repeat center;
        }
      }
    }
  }
}
///////////////////////////////////////////////////////////////

.products-set__title {
  font-family: Titan One;
  font-size: 20px;
  line-height: 1.15;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 30px;

  color: $color-design-white;
  @media screen and (min-width: $tablet) {
    line-height: 1.14;
  }
  @media screen and (min-width: $desktop) {
    font-size: 30px;
    margin-bottom: 32px;
  }
}

.products-set__icon {
  fill: $bg-btn-light;
}

.products-set__text {
  max-height: 115px;
  overflow: hidden;
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;

  color: $color-design-white;
  @media screen and (min-width: $tablet) {
    max-height: 130px;
    line-height: 1.7;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
    margin-top: 32px;
  }

  .products-set__item.is-open & {
    max-height: 245px;
    overflow-y: auto;

    @media screen and (min-width: $desktop) {
      max-height: 220px;
      margin-top: 32px;
      font-size: 16px;
    }
  }
}

.product-set__text--unvisible {
  visibility: hidden;
  position: absolute;

  .products-set__item.is-open & {
    visibility: initial;
    position: static;
    transition: visibility $pr-transition;
  }
}

.products-set__btn {
  position: absolute;
  display: flex;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: transparent;
  border-radius: 50%;
  background-color: $bg-btn-light;
  transition: background-color $pr-transition, fill $pr-transition;

  @media screen and (min-width: $desktop) {
    bottom: 50px;
  }
  &:hover,
  &:focus {
    background-color: $bg-btn-light-hover;
  }
}

.products-set__btn-icon {
  fill: $color-design-main;

  .products-set__btn:hover &,
  .products-set__btn:focus & {
    fill: $bg-btn-dark-hover;
  }
}
